VITE_API_URL=http://localhost:8000
VITE_MAIN_APP_URL=http://localhost:5173
VITE_APP_LOGO=https://res.cloudinary.com/dikkedkzf/image/upload/c_thumb,w_200,g_face/v1770028711/%E1%BB%8Dj%C3%A0_logo_bwmkra.png
